<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzh.wuhantm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WuHanTM">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 属性
            //standard：标准模式
            //singleTop：栈顶复用模式
            //singleTask：栈内复用模式
            //singleInstance：单例模式
            //如不设置，Activity的启动模式默认为**标准模式（standard）**
        -->
        <activity android:name=".activity.RvActivity"
            android:launchMode="standard"/>
        <activity android:name=".activity.TMFmActivity" />

        <service android:name=".service.TMService" />
        <service
            android:name=".service.RemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lzh.wuhantm.service.AIDL_Service" />
            </intent-filter>
        </service>
    </application>

</manifest>